.watchButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.watchButtons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.watchButtons button.active {
    background-color: #007bff;
    color: white;
}
